* {
  margin: 1em;
  text-align: center;
  font-family: 'Amaranth', sans-serif;
}

.color-box {
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}