h1 {
  text-align: center;
}

.lightbulb {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.lightbulbs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
